
.header{
    top: 0;
    background-color: rgb(227, 163, 163);
    width: 100%;
    height: 60px;
    position: relative;
   
}
h2{
    position: relative;
    color: Red;
    padding: 20px;
}
.navegator{
    position:absolute;
    right: 20px;
    top: 5px;
    text-decoration: none;

}

.navegator li  {
    display: inline-flex;
    text-decoration: none;
}
.navegator a{
    font-size: 20px;
    padding:5px;
    text-decoration: none;
}
body{
    background-size:100%;
    background-repeat: no-repeat;
    background-image:url(/IMG/copy-space-roses.jpg)
}
.cadastro{
    width: 30%;
    border: 1px solid red;
    margin:200px ;
    border-radius: 25px;
    font-size:16px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
.cadastro input[type="text"]{
    width:80%;
    border-radius: 25px;
    margin-top: 20px;
    padding:10px;

}
input[type="submit"]{
    color: red;
    font-size: 30px;
    background-color: rgb(228, 148, 148);
    margin-left: 200px;
    margin-top: 10px;
}