
.header{
    margin-top: 0;
    top:0;
    background-color: rgb(227, 163, 163);
    width: 100%;
    height: 60px;
    position: absolute;
   
}
h2{
    font-size:40px;
    font-family: 'Ms Madi', cursive;
    position: relative;
    color: rgb(83, 21, 88);
    padding: 10px;
}
.navegator{
    position:absolute;
    right: 20px;
    top: 5px;
    text-decoration: none;

}
.carrossel{
    position: absolute;
 
    right: 100px;
    width:600px;
    height: 300px;
   

}

.navegator li  {
    display: inline-flex;
    text-decoration: none;
}
.navegator a{
    font-size: 20px;
    padding:5px;
    text-decoration: none;
}
body{
    margin-top:200px;
    background-position:center;
    background-size:100%;
    background-repeat: no-repeat;
    background-image:url(/IMG/red-rose-multipurpose-background-for-anniversary-wedding-birthday-or-other-celebrations.jpg);
}
.chamada h1{
    font-size: 80px;
    color: rgb(40, 6, 63);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}